<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <title>Prescription Template</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    </head>
    <body class="d-flex flex-column justify-content-center align-items-center" style="padding-left: 50px; padding-right: 50px;">

        <h1>Prescription Details</h1>
        <div th:if="${user != null}" class="list-group" style="width: 800px">
            <div th:if="${user.getName() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Doctor Name: </p>
                    <p th:text="${user.getName()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getInstituteName() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Institute Name: </p>
                    <p th:text="${user.getInstituteName()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getRegistrationNumber() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Registration Number: </p>
                    <p th:text="${user.getRegistrationNumber()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getQualification() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Qualification: </p>
                    <p th:text="${user.getQualification()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getAddress() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Address: </p>
                    <p th:text="${user.getAddress()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getEmail() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Email: </p>
                    <p th:text="${user.getEmail()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getPhoneNumber() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Mobile Number: </p>
                    <p th:text="${user.getPhoneNumber()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${user.getOtherDetails() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Other Info: </p>
                    <p th:text="${user.getOtherDetails()}" class="col-8"></p>
                </div>
            </div>
        </div>

        <hr/>

        <div th:if="${prescription != null}" class="list-group" style="width: 800px">
            <div th:if="${prescription.getCreatedAt() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Created AT: </p>
                    <p th:text="${#dates.format(prescription.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getPatientName() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Patient Name: </p>
                    <p th:text="${prescription.getPatientName()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getAge() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Age: </p>
                    <p th:text="${prescription.getAge()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getGender() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Gender: </p>
                    <p th:text="${prescription.getGender()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getHeight() != null && prescription.getHeightUnit() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Height: </p>
                    <p class="col-8">
                        <span th:text="${prescription.getHeight()}"></span>
                        <span th:text="${prescription.getHeightUnit()}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${prescription.getWeight() != null && prescription.getWeightUnit() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Weight: </p>
                    <p class="col-8">
                        <span th:text="${prescription.getWeight()}"></span>
                        <span th:text="${prescription.getWeightUnit()}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${prescription.getAddress() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Address: </p>
                    <p th:text="${prescription.getAddress()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getDiagnosis() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Diagnosis: </p>
                    <p th:text="${prescription.getDiagnosis()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getPatientComplains() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Patient Complains: </p>
                    <p th:text="${prescription.getPatientComplains()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getClinicalFeatures() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Clinical Features: </p>
                    <p th:text="${prescription.getClinicalFeatures()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getExamination() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Examination: </p>
                    <p th:text="${prescription.getExamination()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getAdvice() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Advice: </p>
                    <p th:text="${prescription.getAdvice()}" class="col-8"></p>
                </div>
            </div>
            <div th:if="${prescription.getNotes() != null}" class="list-group-item list-group-item-info">
                <div class="row">
                    <p class="col-4">Note: </p>
                    <p th:text="${prescription.getNotes()}" class="col-8"></p>
                </div>
            </div>
        </div>

        <hr/>

        <table th:if="${prescription != null && prescription.getDrugs().size() != 0}" class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Drug Name</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Dose</th>
                    <th scope="col">Preparation</th>
                    <th scope="col">Route</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Instructions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="drug : ${prescription.getDrugs()}">
                    <td th:text="${drug.getDrugName()}"></td>
                    <td>
                        <span th:text="${drug.getStrength()}"></span>
                        <span th:text="${drug.getDrugStrengthUnit()}"></span>
                    </td>
                    <td>
                        <span th:text="${drug.getDose()}"></span>
                        <span th:text="${drug.getDoseUnit()}"></span>
                    </td>
                    <td th:text="${drug.getPreparation()}"></td>
                    <td th:text="${drug.getRoute()}"></td>
                    <td th:text="${drug.getDirection()}"></td>
                    <td th:text="${drug.getFrequency()}"></td>
                    <td>
                        <span th:text="${drug.getDuration()}"></span>
                        <span th:text="${drug.getDurationUnit()}"></span>
                    </td>
                    <td th:text="${drug.getTotalQuantity()}"></td>
                    <td th:text="${drug.getOtherInstructions()}"></td>
                </tr>
            </tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>